# Maven build output
target/

# Compiled class files
*.class

# Logs
*.log

# Package files
*.jar
*.war
*.ear

# JVM crash logs
hs_err_pid*

# IDEs
# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db
