**/.idea/
.bsp
**/target
**/.DS_Store
**/dependency-reduced-pom.xml
**/*.iml
**/*.jar
**/*.log
.env
.venv
env/
venv/
.java-version
/pyflink/
__pycache__/
.vscode/
/.run/

clean.sh
smudge.sh

# data_pipeline_local
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml